<p>Hey {{ name }},</p>
<p>You have successfully received a deposit of {{ amount }} {{ coin }} to address {{ address }} and it has been added to your account.</p>

<p>If you did not initiate this transaction, Please kindly reach out to us for immediate action.</p>
